{% load static %}
{% block content %}
    <html>
    <head>

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
              type="text/css">

        <link rel="icon favicon" href="{% static 'image/dds.png' %}">
        <meta name="keywords" content="HTML5 Template"/>
        <meta name="description" content="Responsive HTML5 Template">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- Libs CSS -->

        <link href="{% static 'css/animate.css' %}" rel="stylesheet"/>
        <link href="{% static 'js/graph/dds.css' %}" rel="stylesheet"/>

        <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/plugins/jquery.graphup.pack2.js' %}"></script>
        <script src="{% static 'js/plugins/d3.min.js' %}"></script>
        <script src="{% static 'js/plugins/d3.layout.cloud.min.js' %}"></script>

        <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/plugins/jquery.graphup.pack2.js' %}"></script>
        <script src="{% static 'js/theme-plugins.js' %}"></script>


    </head>
    <body>
    <h1>Online Examination system </h1>

    <br>
    <h3> Set Exam Time : </h3><br>

    <form action="{% url 'set_exam_time' %}" method="post">
        {% csrf_token %}
        Time in Minutes:
        <input name="min" type="text">
        <br><br>
        <input type="submit">
    </form>


    <button type="button"><a href="{% url 'home' %}"> << Go Back</a></button>


    </body>
    </html>

{% endblock %}



