{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Signin</h1>
        <form accept-charset="UTF-8" method="POST" action="{% url 'signin' %}">{% csrf_token %}
            Email: <input  placeholder="Enter Email" name="email">
            Password: <input  placeholder="Enter Password" name="password">
            <button class="btn btn-success" type="submit" class="btn btn-success">Signin</button>
        </form>
    </body>
</html>
{% endblock %}
