{% block content %}
    <html>
    <head>

    </head>
    <body>
    <h1>Edit Student Information</h1>

    <form class="text-center border border-light p-5" accept-charset="UTF-8" role="form" method="POST"
          action="{% url 'student_edit' student_info.id %}">


        {% csrf_token %}


        <h3>Student Name : <input type="text" name="stu_name" value="{{ student_info.stu_name }}"></h3> <br>
        <h3>Student Roll : <input type="text" name="stu_roll" value="{{ student_info.stu_roll }}"></h3><br>
        <h3>Student Class : <input type="text" name="stu_class" value="{{ student_info.stu_class }}"></h3> <br>


        <input type="submit" value="Update">


    </form>


    </body>
    </html>
{% endblock %}



