{% block content %}
<html>
    <head>
        <title>Employee</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Faster+One|Lobster|Sonsie+One|Pacifico|Roboto:400,700i,900" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
    <body >
        <form class="text-center border border-light p-5" accept-charset="UTF-8" role="form" method="POST" action="{% url 'student_info_view' %}">{% csrf_token %}

            <p class="h4 mb-4">Student Register</p>
        
            <!-- name -->
            <input type="student name" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Enter your name" name="name">
        
            <!-- roll -->
            <input type="student roll" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Enter your class roll" name="roll">

            <!-- class-->
            <input type="class" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Enter your class" name="class">
            <button type="submit" class="btn btn-success">Register</button>
        
        </form>

    </body>
</html>
{% endblock %}